<template>
<div>
    <p>Nombre de films : {{movies.length}}</p>
    Rechercher : <input type="text" v-model="search" />
    <ul>
        <li v-if="!movies_search" v-for="(movie, key) in movies" v-bind:key="movie.title">
            <router-link :to="{ name: 'movieitem', params: { id: movie.id } }"><b>{{movie.title}} ({{movie.year}})</b><br /></router-link>
            <br />
        </li>
        <li v-if="movies_search" v-for="(movie, key) in movies_search" v-bind:key="movie.title">
            <router-link :to="{ name: 'movieitem', params: { id: movie.id } }"><b>{{movie.title}} ({{movie.year}})</b><br /></router-link>
            <br />
        </li>
    </ul>
    <router-link :to="{ name: 'movieadd' }"><button>Ajouter</button></router-link>
</div>
</template>

<script>
export default {
    data() {
        return {
            display: true,
            movie_to_add: {producer:{}},
            movie_to_edit: null,
            search: "",
        }
    },
    computed: {
        movies() {
            return this.$store.state.movies
        },
        movies_search: function() {
            return this.movies.filter(m => m.title.toLowerCase().indexOf(this.search.toLowerCase())!=-1);
        }
    },
    methods: {
        edit: function(movie) {
            this.movie_to_edit = movie;
            var link = 'movie/' + this.movie_to_edit.id + '/edit';
            this.$router.push({ path: link});
        },
        remove: function(index) {
            this.$store.dispatch('deleteMovie', index);
        },
        getDetails: function(movie) {
            var link = 'movie/' + movie.id;
            this.$router.push({ path: link });
        }
    },
    created: function(){
      this.$store.dispatch('setMovies');
    }
}
</script>