<template>
  <p>
    <router-link :to="{ name: 'movielist' }"><button>Accueil</button></router-link><br />
        Ajouter un film<br />
        Titre : <input type="text" v-model="movie_to_add.title" /><br />
        Année: <input type="text" v-model="movie_to_add.year" /><br />
        Synopsis : <textarea v-model="movie_to_add.synopsys"></textarea><br />
        Langue : <input type="text" v-model="movie_to_add.lang" /><br />
        Genre : <input type="text" v-model="movie_to_add.genre" /><br />
        Producteur : <br />
        <ul>
            <li>Nom : <input type="text" v-model="movie_to_add.producer.name" /></li>
            <li>Nationalité : <input type="text" v-model="movie_to_add.producer.nationality" /></li>
            <li>Date de naissance : <input type="text" v-model="movie_to_add.producer.birth" /></li>
        </ul>
        Note : <input type="text" v-model="movie_to_add.mark" /><br />

        <button v-on:click="newmovie">Ajouter</button></p>
</template>

<script>
export default {
    data() {
        return {
            movie_to_add: {
              producer:{}
            }
        }
    },
    methods: {
        newmovie: function() {
            this.$store.dispatch('newMovie', this.movie_to_add);
            this.$router.push({ path: '/'})
        }
    }
}
</script>