<template>
<div>
    <router-link :to="{ name: 'movielist' }"><button>Accueil</button></router-link><br />
   <b>{{movie.title}} ({{movie.year}})</b><br />
        Synopsis : {{movie.synopsys}}<br />
        Langue : {{movie.lang}}<br />
        Genre : {{movie.genre}}<br />
        Producteur : <br />
        <ul>
            <li>Nom : {{movie.producer.name}}</li>
            <li>Nationalité : {{movie.producer.nationality}}</li>
            <li>Date de naissance : {{movie.producer.birth}}</li>
        </ul>
        Note : {{movie.mark}}<br />
        <img v-bind:src="movie.poster"><br />
        <router-link :to="{ name: 'movieedit', params: { id: movie.id } }"><button>Edit</button></router-link>
        <button @click="remove">Supprimer</button>
        <br /><br />
    </p>
</div>
</template>

<script>
export default {
    data() {
        return {
        }
    },
    computed: {
        movie() {
            return this.$store.state.movies.find((movie) => movie.id == this.$route.params.id)
        }
    },
    methods: {
        remove() {
            this.$store.dispatch('deleteMovie', this.movie.id);
            this.$router.push({ path: '/'});
        }
    }
}
</script>