<template>
<div>
    <p>
      <router-link :to="{ name: 'movielist' }"><button>Accueil</button></router-link><br />
        Titre : <input type="text" v-model="movie_to_edit.title" /><br />
        Année : <input type="text" v-model="movie_to_edit.year" /><br />
        Synopsys : <textarea v-model="movie_to_edit.synopsys"></textarea><br />
        Language : <input type="text" v-model="movie_to_edit.lang" /><br />
        Genre : <input type="text" v-model="movie_to_edit.genre" /><br />
        Réalisateur <br />
        Nom : <input type="text" v-model="movie_to_edit.producer.name" /><br />
        Nationalité : <input type="text" v-model="movie_to_edit.producer.nationality" /><br />
        Date de naissance : <input type="text" v-model="movie_to_edit.producer.birth" /><br />
        <img v-bind:src="movie_to_edit.poster"><br />
        <button v-on:click="save">Enregistrer</button>
    </p>
</div>
</template>

<script>
export default {
    data() {
        return {
        }
    },
    computed: {
        movie_to_edit: {
            get() {        
                return this.$store.state.movies.find((movie) => movie.id == this.$route.params.id)
            },
            set(value) {
                return value;
            }
        }
    },
    methods: {
        save: function() {
                this.$store.dispatch('editMovie', this.movie_to_edit);
                this.movie_to_edit = null;
                this.$router.push({ path: '/'});
          }
    }
}
</script>